
.container{
    margin:auto;
    width: 300px;
    height:300px
}
.boxRow{
    display: flex;
    margin: auto;
    width: 300px;
    height: 100px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.box{
    background-color: rgb(215, 206, 255);
  border: 1px solid rgb(88, 47, 238);
    height: 100px;
    width: 100px;
    margin: 5px;
}
.box:hover{
    background-color: rgb(88, 47, 238);
}